$font-text: 'Open Sans', sans-serif;
$font-title: 'Poppins', sans-serif;

$color-title: #116b8a;
$color-text: #585858;
$border: #ccc;
$bg-post: #f3f7fc;


// ----------------------------------------
// Media Queries for Standard Devices
// ----------------------------------------
$xs: 'only screen and (max-width: 575px)';
$sm: 'only screen and (min-width: 576px)';
$md: 'only screen and (min-width: 768px)';
$lg: 'only screen and (min-width: 992px)';
$xl: 'only screen and (min-width: 1200px)';